navbar{
    background-color: rgb(231, 204, 162);
}
.navbar-brand{
    margin-top: -8px;
    letter-spacing: 8px;
}
.input-group .form-outline{
    margin-left: 40%;
}
.btn{
    line-height: 0.6;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3c9a84;
}

.button {
    background-color: #1455b6; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    line-height: 1;
    opacity: 66%;
  }
  .button4 {border-radius: 12px;}

 .contenar{
     display: flex;
     justify-content: space-around;
 }
.fav{
    color:rgb(252, 252, 249);
  }
  
  .fa-cog {
    color: red !important;
  }
 .container{
    display: flex;
    list-style: none;
    flex-direction: row;


 }

 