
<p>login works!</p>
<div class="card">
  <form [formGroup]="loginForm">
        <div class="mb-3">
          <label for="exampleInputStudentEmail" class="form-label">Email</label>
          <input type="email"  formControlName="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
        </div> 
        <div class="mb-3">
          <label for="exampleInputPassWord" class="form-label">PassWord</label>
          <input type="password" formControlName="PassWord" class="form-control" id="exampleInputPassWord" aria-describedby="emailHelp">
        </div>

      <button class="btn" mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="Login()">Login</button>

  </form>
</div>